body{
    background: #bbbbbb;
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    font-size: 2rem;
}
.block {
    display: flex;
}
#container{
    
    border-radius: 5px;
    margin: 5% auto;
    width: 285px;
    padding: 0;
    

}
.box{
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: #5F9EA0;
    width: 95px;
    height: 95px;
    box-sizing: border-box;
    text-align:center;
}
span {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    
    margin: 0;
    display: flex;
  /*  margin-left: -30px;*/
    text-align: center;
}
.alert{
    height: 70px;
    width: 110px;
    background: #cccccc;
    display: inline-block;
    position: relative;
    margin-top: -50%;
    border-radius: 20px;
    box-shadow: 0 0 70px 3px gray;
    top: 0;
    bottom: 50px;
    padding: 23px;
    animation-fill-mode: forwards;
    box-sizing:content-box;
    z-index: 10;

}
button{
    border-radius: 6px;
    outline: none;
    padding: 5px;
    font-size: 25px;
    border:none;
}
button:focus{
    background: gold
}
.activeBox{
    background: blue
}